html
	position: relative
	box-sizing: border-box
	min-height: 100%
::-ms-clear
	display: none
*
	&:focus, &:visited, &:active, &:hover
		outline: 0 !important
	&::-moz-focus-inner
		border: 0
body
	background: #FFF
	line-height: 1.4
	font-family: "Roboto", sans-serif
.wrapper
	position: relative

	padding: 0
	min-width: 320px
	opacity: 1
	max-width: 1190px
	padding: 0 10px
	margin: 0 auto

.container
	position: relative
	margin: 0 auto
span
	display: inline
a
	color: inherit
	font-family: inherit
	font-size: inherit
	font-weight: inherit
	text-decoration: none
	&:visited,
	&:hover,
	&:active
		outline: none !important
		text-decoration: none !important

.section__title
	h2
		color: #2c2f35
		font-size: 60px
		font-weight: 900
		line-height: 0.93
		text-align: center
		+r(1200)
			font-size: 50px
		+r(1023)
			font-size: 40px
		+r(767)
			font-size: 30px
			line-height: 1.1

	.section__undertitle
		color: #4c597f
		font-size: 38px
		font-weight: 300
		line-height: 1.15
		text-align: center
		margin-top: 15px
		+r(1200)
			font-size: 32px
		+r(1023)
			font-size: 26px
		+r(767)
			font-size: 22px
			margin-top: 10px

	img
		max-width: 100%
		display: block
		margin: 25px auto 0
		+r(767)
			margin-top: 15px
section.section
	+r(1200)
		padding: 60px 0
	+r(1023)
		padding: 40px 0
	+r(767)
		padding: 30px 0
	+r(479)
		padding: 25px 0


@lost gutter 60px
@lost flexbox flex
@lost cycle none
@lost clearing left
@lost rounder 100
@lost --beta-direction rtl
