<section class="section bomb">
    <div class="wrapper">
        <div class="section__title">
            <h2>Грыжа — <br>бомба замедленного действия</h2>
            <p class="section__undertitle">Она может ущемиться в любой момент!</p>
            <div class="title__img">
                <img src="./img/line-orange.png" alt="">
            </div>
        </div>
        <div class="bomb-wrap">
            <div class="bomb-wrap__item">
                <div class="bomb-descr">
                    <div class="bomb-descr__number">
                        <p>1.</p>
                        <img src="img/line-minigrey.png" alt="">
                    </div>
                    <p class="bomb-descr__text">Грыжа опасна<br> вероятностью<br> ущемления</p>
                </div>
                <div class="bomb-wrap__img">
                    <img src="img/bomb-wrap1.png" alt="">
                </div>
            </div>
            <div class="bomb-wrap__item">
                <div class="bomb-descr">
                    <div class="bomb-descr__number">
                        <p>2.</p>
                        <img src="img/line-minigrey.png" alt="">
                    </div>
                    <p class="bomb-descr__text">Это может произойти<br> при чрезмерной<br> физической нагрузке<br> и&nbsp;даже запоре</p>
                </div>
                <div class="bomb-wrap__img">
                    <img src="img/bomb-wrap2.png" alt="">
                </div>
            </div>
            <div class="bomb-wrap__item">
                <div class="bomb-descr">
                    <div class="bomb-descr__number">
                        <p>3.</p>
                        <img src="img/line-minigrey.png" alt="">
                    </div>
                    <p class="bomb-descr__text">Ущемление органов<br> приводит к некрозу<br> и&nbsp;нагноению</p>
                </div>
                <div class="bomb-wrap__img">
                    <img src="img/bomb-wrap3.png" alt="">
                </div>
            </div>
            <div class="bomb-wrap__item">
                <div class="bomb-descr">
                    <div class="bomb-descr__number">
                        <p>4.</p>
                        <img src="img/line-minigrey.png" alt="">
                    </div>
                    <p class="bomb-descr__text">Тогда пациент<br> попадает в хирургию<br> и&nbsp;ложится<br> на&nbsp;операцию</p>
                </div>
                <div class="bomb-wrap__img">
                    <img src="img/bomb-wrap4.png" alt="">
                </div>
            </div>
        </div>
        <div class="line-grey">
            <img src="img/line-grey.png" alt="">
        </div>
        <p class="bomb-footer__text"> Но даже если вы избегаете поднятия<br> тяжелых предметов и следите за здоровьем,<br>
            <span class="biger orange">это не гарантирует того, что вы избежите операции!</span>
        </p>
    </div>
</section>