
<section class="section section-grey complications">
    <div class="wrapper">
        <div class="section__title">
		    <h2>Со временем<br> даже при неущемленной грыже<br> развиваются осложнения</h2>
		    <div class="title__img">
		      	<img src="./img/line-orange.png" alt="">
		    </div>
	  	</div>
        <div class="complications-wrap">
            <div class="complications-wrap__item">
                <div class="complications-wrap__img">
                </div>
                <h4 class="complications-wrap__title">Воспаление</h4>
                <div class="complications-wrap__text">
                    <p>Грыжа может <span class="complications-wrap__colortext">инфицироваться и&nbsp;воспалиться.</span> Это приводит к высокой температуре, рвоте, запорам, болям.</p>
                </div>
            </div>
            <div class="complications-wrap__item">
                <div class="complications-wrap__img">
                </div>
                <h4 class="complications-wrap__title">Невправимость</h4>
                <div class="complications-wrap__text">
                    <p>Со временем от грыжи уже не&nbsp;избавиться ручным вправлением. Она становится больше, выпирает из-под одежды. <span class="complications-wrap__colortext">Поможет только операция.</span></p>
                </div>
            </div>
            <div class="complications-wrap__item">
                <div class="complications-wrap__img">
                </div>
                <h4 class="complications-wrap__title">Скопление кала <br>в кишечнике</h4>
                <div class="complications-wrap__text">
                    <p>Возникает, если в грыжевом мешке находится толстая кишка. Приводит к&nbsp;<span class="complications-wrap__colortext">болезненным запорам.</span></p>
                </div>
            </div>
            <div class="complications-wrap__item">
                <div class="complications-wrap__img">
                </div>
                <h4 class="complications-wrap__title">Дисфункция <br>органов</h4>
                <div class="complications-wrap__text">
                    <p>Органы, которые попадают в&nbsp;грыжу, прекращают функционировать. Возникает острая <span class="complications-wrap__colortext">нестерпимая боль</span> в&nbsp;области “отмирающих” органов, поднимается температура.</p>
                </div>
            </div>
        </div>
    </div>
</section>

