<section class="section consist">
  <div class="wrapper">
      <div class="section__title">
          <h2>Состав <span class="orange">Трауфрила</span>,  <br>
              благодаря которому он — единственная альтернатива операции</h2>

          <div class="title__img">
            <img src="./img/title__img.png" alt="">
          </div>
        </div>
    <div class="consist-inner">
      <div class="consist__prod">
          <img src="./img/product.png"  class="product" alt="">
          <img src="./img/capsule.png" class="capsule" alt="">
          <img src="./img/shadow-prod.png" class="line-white" alt="">
      </div>
      <div class="consist__element">
        <div class="consist__element-item">
          <div class="element-head">
              <div class="element__img los" >
                  <img  src="./img/element__img1.png" alt="">
              </div>
                <p class="element">
                    Протеины <br>  крови марала и&nbsp;бобрового мускуса
                </p>
          </div>

            <p class="elementdo">
                способствует уменьшению грыжи
                восстанавливая стенки брюшной полости
                и&nbsp;повышая эластичность
            </p>
        </div>
        <div class="consist__element-item">
          <div class="element-head">
              <div class="element__img">
                  <img src="./img/element__img2.png" alt="">
              </div>
                <p class="element">
                    Экстракт леспедецы
                    и&nbsp;прополиса
                </p>
          </div>

              <p class="elementdo">
                  устраняет боль и&nbsp;предотвращает <br> отмирание органов нормализуя внутрибрюшное давление

              </p>
        </div>
        <div class="consist__element-item">
          <div class="element-head">
              <div class="element__img">
                  <img src="./img/element__img3.png" alt="">
              </div>
                <p class="element">
                    Концентрат кровохлебки
                    и&nbsp;любистка
                </p>
          </div>

              <p class="elementdo">
                  избавляет от&nbsp;риска ущемления грыжи
                  улучшая кровообращение и эластичность стенок ущемленных органов
              </p>
        </div>
      </div>
    </div>
    <button class="order_btn ever-popup-btn">
        Заказать <br>
        <span>со скидкой</span>
    </button>
  </div>
</section>
