<section class="section ded">
	<div class="wrapper">
		<div class="ded-box">
			<div class="ded-content">
				<h4 class="ded-title">“Я и мой дед вылечили грыжи на животе и&nbsp;паху с&nbsp;этими травами. Я рад, что теперь мой рецепт доступен каждому! ” </h4>
				<p class="ded-slogan">— создатель растительной формулы <span class="orange">Трауфрила</span></p>
				<p> 
					Операции все эти ваши - это глупости! Мне уже почти 90 лет, и я здоров как бык, ни одной операции за жизнь не делал. Хотя чего со мной только было: и болячки разные, и грыжи… Вырос я в семье травников, и&nbsp;занимаюсь этим всю жизнь. Я всегда находил правильное сочетание трав и лечил себя сам! И за моими целебными рецептами вот уже лет 70 выстраиваются очереди со всей округи.
				</p>
				<p> 
					Был у меня как-то один паренёк, <span class="another">запущенный случай. У&nbsp;него грыжа возле пупка торчала.</span> Говорил, что операцию надо делать - а я ему свою мазь дал, собственного, так сказать, изготовления. Парень носом поворочал, но мазь взял. И что вы думаете, всё у него теперь восстановилось. Не за два дня, конечно, но тем не менее <span class="another">не пришлось на операционный стол&nbsp;ложиться.</span> 
				</p>
				<p> 
					Я много разных рецептов на травах знаю, и с грыжами ещё от своего деда знаю, что надо делать. Без прополиса, любистка и леспедецы здесь не обойтись. <span class="another">И&nbsp;грыжа перестает выпадать, и со временем орган там становится на место.</span> Но у этой мази один минус есть - её надо сразу намазывать. И тут уже надо мазь как-то сильно запечатывать, иначе пропадет она. Вот те, кто у меня рецепт купили и продают её теперь в интернете - они мою мазь поместили в&nbsp;ампулы по моему совету, и&nbsp;правильно сделали.
				</p>
			</div>
			<div class="ded-img">
				<img src="./img/ded.png" alt="">
				<span class="ded-img__title">Григорий Сараев, <span class="smaller">87 лет</span></span>
				<span class="ded-img__descr">травник, пчеловод</span>
			</div>
		</div>
	</div>
</section>
