<section class="section development">
    <div class="wrapper">
        <div class="section__title">
            <h2>До разработки <span class="orange">Трауфрила</span></h2>
            <p class="section__undertitle">существовало только <span class="biger">3</span> способа <br> остановить грыжу и&nbsp;предотвратить риск осложнений</p>
            <div class="title__img">
                <img src="./img/line-orange.png" alt="">
            </div>
        </div>
        <div class="development-wrap">
            <div class="development-wrap__item">
                <div class="development-wrap__img">
                    <img src="img/development-wrap1.png" alt="">
                </div>
                <h4 class="development-wrap__title">Оперировать — <span class="orange">опасно и дорого</span></h4>
                <div class="development-wrap__text">
                    <p>
                        Приводит к осложнениям в 40% случаев<br>
                        и к рецидиву в 80% случаев.<br>
                        Есть противопоказания по состоянию<br>
                        здоровья и возрасту.
                    </p>
                </div>
            </div>
            <div class="development-wrap__item">
                <div class="development-wrap__img">
                    <img src="img/development-wrap2.png" alt="">
                </div>
                <h4 class="development-wrap__title">Вправить — <span class="orange">опасно</span></h4>
                <div class="development-wrap__text">
                    <p>
                        В 50% случаев приводит к воспалению<br>
                        и нарушению целостности органа,<br>
                        который выпадает и как результат -<br>
                        к необходимости оперативного вмешательства.
                    </p>
                </div>
            </div>
            <div class="development-wrap__item">
                <div class="development-wrap__img">
                    <img src="img/development-wrap3.png" alt="">
                </div>
                <h4 class="development-wrap__title">Жить с грыжей — <span class="orange">опасно</span></h4>
                <div class="development-wrap__text">
                    <p>
                        Поскольку вы будете жить с постоянным риском
                        ущемления грыжи, болью и&nbsp;дискомфортом.
                    </p>
                </div>
            </div>
        </div>
        <div class="line-grey">
            <img src="img/line-grey.png" alt="">
        </div>
        <p class="development-footer__text">Теперь для вас доступен <span class="orange">Трауфрил</span> — новый метод лечения,
            <span class="smaller">который избавляет вас от проблем с грыжей <span class="orange">без операций риска для здоровья!</span></span></p>
    </div>
</section>
