<section class="section section-grey doctor">
	<div class="wrapper">
		<div class="doctor-box">
			<div class="doctor-img">
				<img src="../img/doctor-img__bg.png" alt="" class="doctor-img__bg">
				<img src="../img/doctor.png" alt="">
				<h4 class="doctor-img__title">Алексей Колесников, <span>врач-хирург</span></h4>
				<p class="doctor-img__descr">стаж работы: <span>18 лет</span></p>
			</div>
			<div class="doctor-content">
				<h4 class="doctor-content__title">Слово специалисту:</h4>
				<p class="doctor-content__slogan">“Пока болезнь не запущена - лучше лечить её&nbsp;растительными препаратами”</p>
				<p class="doctor-content__descr">врач-хирург высшей категории, кандидат медицинских наук <span class="orange">Алексей Колесников</span></p>
				<p class="text">
					Несмотря на то, что я всю жизнь проработал хирургом и всегда относился, так сказать, к&nbsp;лагерю традиционной медицины, я часто выписываю людям средства из народной медицины. Объясняю почему: хирургические методы борьбы с грыжей предназначены для людей, у&nbsp;которых уже запущенные&nbsp;случаи. 
				</p>
				<p class="text">
					В случае с грыжей, я могу помочь человеку, когда нужно уже делать операцию, когда произошло защемление грыжи. Однако, когда у человека всё хорошо, и <span class="another">грыжа только немного выпирает - я&nbsp;считаю, что здесь не нужно делать операцию.</span> Такому человеку будут намного полезнее народные методы, препараты на травах, например. Ведь здесь можно обойтись без радикальных методов, эту проблему можно решить щадящим образом без риска для&nbsp;здоровья.
				</p>
				<p class="text">
					Из всех растительных формул мне больше всего нравится состав Трауфрила - он самый эффективный, и это подтвердили результаты клиники, в которой я работаю. <span class="another">Этот препарат помогает свести грыжу на нет без вреда для пациента.</span> Я рекомендую его всем, кто приходит ко&nbsp;мне с грыжей и хочет избежать операции. И взрослым, и&nbsp;детям.
				</p>
				<div class="doctor-signature">
					<img src="../img/doctor-signature.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>