<section class="section efficiency">
  <div class="wrapper">
    <div class="efficiency-inner">
      <div class="efficiency-sertificates">
        <h2>Эффективность <span class="orange">Трауфрила</span></h2>
        <p>подтверждена результатами испытаний, <br>
          проведеных в клиниках: </p>
        <div class="countries">
          США, России и Израиля
        </div>
        <img src="./img/title__img.png" alt="">
        <div class="country-sertificates">
          <div class="country-sertificates__item">
            США
            <img src="./img/eff-sert1.png" alt="">
          </div>
          <div class="country-sertificates__item">
            Россия
            <img src="./img/eff-sert2.png" alt="">
          </div>
          <div class="country-sertificates__item">
            Израиль
            <img src="./img/eff-sert3.png" alt="">
          </div>
        </div>
        <div class="efficiency__results">
          <div class="efficiency__results__item">
            <div class="efficiency__results__item-text">
                Избежали <br>
                операции
            </div>
            <div class="efficiency__results__item-number low">
                85<span class="percent">%</span>
            </div>
          </div>
          <div class="efficiency__results__item">
            <div class="efficiency__results__item-text">
                Уменьшили <br>
                патологическое <br>
                выпирание грыжи
            </div>
            <div class="efficiency__results__item-number medium">
                88<span class="percent">%</span>
            </div>
          </div>
          <div class="efficiency__results__item">
            <div class="efficiency__results__item-text">
                Избавились <br>
                от воспаления
            </div>
            <div class="efficiency__results__item-number hard">
                89<span class="percent">%</span>
            </div>
          </div>
          <div class="efficiency__results__item">
            <div class="efficiency__results__item-text">
                Устранили <br>
                болевой синдром
            </div>
            <div class="efficiency__results__item-number hardcore">
                98<span class="percent">%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="woh-wrap" >
          <div class="woh">
              <div class="woh__logo">

                Всемирная <br>
                Организация <br>
                Здравоохранения
              </div>
              <div class="woh__signatures">
                <div class="signature__title">
                    Все этапы тестирования
                    подтверждены специалистами
                </div>
                <div class="signature__wrap">
                  <div class="signa">
                    <img src="./img/signa1.png" alt="">
                  </div>
                  <div class="signa">
                    <img src="./img/signa2.png" alt="">
                  </div>
                  <div class="signa">
                    <img src="./img/signa3.png" alt="">
                  </div>
                  <div class="signa">
                    <img src="./img/signa4.png" alt="">
                  </div>
                  <div class="signa">
                    <img src="./img/signa5.png" alt="">
                  </div>
                  <div class="signa">
                    <img src="./img/signa6.png" alt="">
                  </div>
                  <div class="signa">
                    <img src="./img/signa7.png" alt="">
                  </div>
                  <div class="signa">
                    <img src="./img/signa8.png" alt="">
                  </div>
                </div>
              </div>

            </div>
            <div class="woh__img">
              <img src="./img/woh-img.png" alt="">
              </div>
      </div>

    </div>
  </div>
</section>
