<section class="section hero">
  <div class="wrapper">
      <header class="header">
          <div class="header__left">
            Трауфрил
          </div>
          <div class="header__right">
            <ul class="header__list">
              <li class="list__item">
                <span class="list__item__img">
                  <img src="./img/header-icon1.png" alt="">
                </span>
                <span class="list__item__text">
                  Рекомендация <br>
                  терапевтов #1 при грыжах
                </span>
              </li>
              <li class="list__item">
                <span class="list__item__img">
                  <img src="./img/header-icon2.png" alt="">
                </span>
                <span class="list__item__text">
                  Натуральный <br>
                  органический состав
                </span>
              </li>
              <li class="list__item">
                <span class="list__item__img">
                  <img src="./img/header-icon3.png" alt="">
                </span>
                <span class="list__item__text">
                  Эффективность подтверждена <br>
                  клиниками Израиля и США
                </span>
              </li>
            </ul>
          </div>
        </header>
    <div class="hero-inner">
      <div class="hero-inner__left">
        <h1 class="hero__title">
            Единственная альтернатива
            операции
        </h1>
        <p class="hero__undertitle">
            при грыжах брюшной стенки, паховой области
            и половых органов
        </p>
        <ul class="hero-inner__left__list">
          <li class="hero-inner__left__list-item"><strong><span class="yel">Не допускает</span> операцию</strong> <br>
              сводя к нулю риск ущемления грыжи</li>
          <li class="hero-inner__left__list-item"><strong><span class="yel">Освобождает</span> от дискомфорта</strong> <br>
              снижая боль, останавливая рост и уменьшая
              размер грыжи</li>
          <li class="hero-inner__left__list-item"><strong><span class="yel">Помогает</span> забыть о грыже</strong> <br>
              защищая от развития заболеваний <br>
              в ущемленных органах</li>
        </ul>
      </div>
      <div class="hero__center">
        <img src="./img/product.png"  class="product" alt="">
        <img src="./img/capsule.png" class="capsule" alt="">
        <img src="./img/shadow-prod.png" class="line-white" alt="">
      </div>
      <div class="hero-inner__right">
        <form action="/submit" method="post" class="x_order_form form">
          <div class="form-title">
              Успейте заказать <br>
              по промо-цене <br>
              <span class="orange">до <span class="date-0">31.31.2018</span>!</span>
          </div>
          <div class="form-price">
            <div class="old-price">
                <span class="price-label">Старая цена</span>
                <div class="price">
                  <div class="x_price_previous">900</div>
                  <div class="x_currency">руб.</div>
                </div>
            </div>
            <div class="new-price">
                <span class="price-label">Новая цена</span>
                <div class="price">
                    <div class="x_price_current">400</div>
                    <div class="x_currency">руб.</div>
                </div>
            </div>
          </div>
          <div class="form-levt">
              Осталось <span class="lastpack">10</span> упаковок <br>
              со скидкой
          </div>
          <div class="input__name input">
              <input class="name" type="text" name="name" placeholder="Мое Имя">
          </div>
        <div class="input__phone input">
            <input class="phone" type="text" name="phone" placeholder="Мой Телефон">
        </div>

          <button type="submit" class="order_btn">
              Заказать
              <span>со скидкой</span>
          </button>
          <div class="security">
              <div class="security__icon">
                <img src="./img/security.svg" alt="">
              </div>
              <div class="security__text">
                  Ваши данные защищены!
              </div>
            </div>
            <div class="plashka">
              -50 <span class="percent">%</span>
            </div>
        </form>

      </div>
    </div>
  </div>
</section>
