<section class="lying section section-grey">
  <div class="wrapper">
      <div class="section__title">
          <h2>Аудио и видео отзывы <br>
              о <span class="orange">Трауфрил</span></h2>
          <div class="title__img">
            <img src="./img/title__img.png" alt="">
          </div>
        </div>
    <div class="lying-inner">
        <div class="riviews-audio">
            <div class="audio-reviews-items">
              <div class="audio-reviews-item audio-1" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                  <div class="audio-reviews-title">Мария Семенова (г.Пенза)</div>
                  <audio preload="none">
                      <source src="../audio/audio1.mp3" type="audio/mp3">
                  </audio>
              </div>
              <div class="audio-reviews-item audio-2" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
                  <div class="audio-reviews-title">Мария Семенова (г.Пенза)</div>
                  <audio preload="none">
                      <source src="../audio/audio2.mp3" type="audio/mp3">
                  </audio>
              </div>
              <div class="audio-reviews-item audio-3" data-aos="fade-right" data-aos-duration="3000" data-aos-once="true">
                  <div class="audio-reviews-title">Мария Семенова (г.Пенза)</div>
                  <audio preload="none">
                      <source src="../audio/audio3.mp3" type="audio/mp3">
                  </audio>
              </div>
              <div class="audio-reviews-item audio-3" data-aos="fade-right" data-aos-duration="3000" data-aos-once="true">
                  <div class="audio-reviews-title">Мария Семенова (г.Пенза)</div>
                  <audio preload="none">
                      <source src="../audio/audio3.mp3" type="audio/mp3">
                  </audio>
              </div>
          </div>
          </div>
      <div class="video__reviews">
          <div class="video-reviews">
              <div class="youtuben youtuben1 wow fadeIn" data-wow-delay="0.3s">
                <div class="vivideo">
                    <div class="video__item video__item1">
                      <div class="button-play">

                      </div>
                        <div class=" youtube" id="-hWaLbdDyhs" style="border:none; width: 270px; height:229px;"></div>
                    </div>

                </div>
                <div class="vivideo">

                    <div class="video__item video__item2">
                        <div class="button-play">

                          </div>
                        <div class=" youtube" id="HfEQTusdZZY" style="border:none; width: 270px; height:229px;"></div>
                    </div>

                </div>
                <div class="vivideo">

                    <div class="video__item video__item3">
                        <div class="button-play">

                          </div>
                        <div class=" youtube" id="vu3ZacNVaAY" style="border:none; width: 270px; height:229px;"></div>
                    </div>

                </div>
            </div>
            </div>
      </div>
    </div>
  </div>
</section>
