<section class="section order">
  <div class="wrapper">
      <div class="section__title">
          <h2>Заказать оригинальный <br>
              <span class="orange">Трауфрил</span> вы можете только <br>
              на нашем сайте</h2>

          <div class="title__img">
            <img src="./img/title__img.png" alt="">
          </div>
        </div>
    <div class="order-inner">

      <div class="order__item">

        <div class="order__img">
            <div class="tri">
              </div>
            <form action="/submit" method="post" class="x_order_form form">



              <div class="input__name input">
                  <input class="name" type="text" name="name" placeholder="Мое Имя">
              </div>
            <div class="input__phone input">
                <input class="phone" type="text" name="phone" placeholder="Мой Телефон">
            </div>

              <button type="submit" class="order_btn">
                  Заказать <br>
                  <span>со скидкой</span>
              </button>

            </form>
        </div>
        <div class="order__title">
            Заполните форму заказа

        </div>
        <div class="order__text">
            Вам нужно указать только свое имя
            и&nbsp;номер телефона
        </div>

      </div>
      <div class="order__item">

          <div class="order__img">
              <div class="tri">
                </div>
            <img src="./img/order__img2.png" alt="">
          </div>
          <div class="order__title">
              Ответьте на звонок оператора


          </div>
          <div class="order__text">
              Он уточнит ваши данные и&nbsp;ответит на все вопросы о&nbsp;продукте
          </div>

        </div>
        <div class="order__item">
            <div class="order__img">
              <img src="./img/order__img3.png" alt="">
            </div>
            <div class="order__title">
                Оплатите после получения

            </div>
            <div class="order__text">
                Все расходы по пересылке
                мы оплатим самостоятельно
            </div>
          </div>


    </div>
  </div>
</section>
