<div class="ever-popup-build">
  <div class="popup-inner" id="cloneThis">
    <div class="popup">
      <div class="popup__left">
          <div class="hero__center popup__product">
              <img src="./img/product.png"  class="product" alt="">
              <img src="./img/capsule.png" class="capsule" alt="">
              <img src="./img/shadow-prod.png" class="line-white" alt="">
            </div>
            <div class="popup__hero">

            </div>
      </div>
      <div class="popup__right">
          <form action="/submit" method="post" class="x_order_form form">
            <div class="form-title">
                Успейте заказать <br>
                по промо-цене <br>
                <span class="orange">до <span class="date-0">31.31.2018</span>!</span>
            </div>
            <div class="form-price">
              <div class="old-price">
                  <span class="price-label">Старая цена</span>
                  <div class="price">
                    <div class="x_price_previous">900</div>
                    <div class="x_currency">руб.</div>
                  </div>
              </div>
              <div class="new-price">
                  <span class="price-label">Новая цена</span>
                  <div class="price">
                      <div class="x_price_current">400</div>
                      <div class="x_currency">руб.</div>
                  </div>
              </div>
            </div>
            <div class="form-levt">
                Осталось <span class="lastpack">10</span> упаковок <br>
                со скидкой
            </div>
            <div class="input__name input">
                <input class="name" type="text" name="name" placeholder="Мое Имя">
            </div>
          <div class="input__phone input">
              <input class="phone" type="text" name="phone" placeholder="Мой Телефон">
          </div>

            <button type="submit" class="order_btn">
                Заказать <br>
                <span>со скидкой</span>
            </button>
            <div class="security">
                <div class="security__icon">
                  <img src="./img/security.svg" alt="">
                </div>
                <div class="security__text">
                    Ваши данные защищены!
                </div>
              </div>
              <div class="plashka">
                -50 <span class="percent">%</span>
              </div>
          </form>
      </div>
    </div>
  </div>

</div>
