<section class="section reviews">
	<div class="wrapper">
		 <div class="section__title">
		    <h2>Отзывы людей, которые <br>победили грыжу с <span class="orange">Трауфрил</span></h2>
		    <div class="title__img">
		      	<img src="./img/line-orange.png" alt="">
		    </div>
		    <div class="reviews-slider__box">
			    <div class="for-reviews-slick__prev"></div>
			    <div class="reviews-slick__prev"></div>
			    <div class="reviews-slider">
			    	<div>
			    		<div class="reviews-slider__item reviews-slider__item1">
			    			<div class="reviews-slider__img">
			    				<img src="./img/reviews-slider1.png" alt="" class="main-img">
			    			</div>
			    			<div class="reviews-slider__content">
			    				<div class="reviews-slider__info">
			    					<span class="reviews-slider__name">Константин, <span>39 лет</span></span>
			    					<span class="reviews-slider__city">г. Перьмь</span>
			    				</div>
			    				<h4 class="reviews-slider__title">Операция не понадобилась!</h4>
			    				<p class="reviews-slider__text">Грыжа у меня появилась около 2 лет назад в районе паха, начала выпирать.
			    					<br>В поликлинике сказали, что ничего страшного, многие с этим живут, прописали мне таблеточки - толку правда от них никакого не было. Операцию я делать, конечно, не хотел, хоть меня и предупредили про риски ущемления грыжи. Ходил я так с этой пупыркой, ходил, иногда она побаливала. И вот мой товарищ из армии посоветовал мне хорошего травника - Григория Владимировича. Тот мне мазь дал, <span class="orange">Трауфрил</span>, сказал, что с этой мазью ущемления точно не будет. Мазал я чуть больше месяца, пупырка стала меньше. Через какое-то время повторил курс, и если сейчас посмотреть, то как будто и нет грыжи у меня. Думаю, что повторю ещё курс. Но операцию точно уже не придется делать.
			    				</p>
			    				<div class="reviews-button__box">
			    					<span class="reviews-slider__button orange">Читать больше</span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    	<div>
			    		<div class="reviews-slider__item reviews-slider__item2">
			    			<div class="reviews-slider__img double-img">
			    				<div class="double-img__item">
			    					<img src="./img/reviews-slider2.1.png" alt="" class="main-img">
			    					<p class="text"><img src="./img/line-minigrey__normal.png" alt="" class="text__img">До</p>
			    				</div>
			    				<div class="double-img__item">
			    					<img src="./img/reviews-slider2.2.png" alt="" class="main-img">
			    					<p class="text"><img src="./img/line-minigrey__normal.png" alt="" class="text__img">После</p>
			    				</div>
			    			</div>
			    			<div class="reviews-slider__content">
			    				<div class="reviews-slider__info">
			    					<span class="reviews-slider__name">Дарина, <span>28 лет</span></span>
			    					<span class="reviews-slider__city">г. Краснодар</span>
			    				</div>
			    				<h4 class="reviews-slider__title">Я больше не боюсь защемления</h4>
			    				<p class="reviews-slider__text">Я три года ходила с пупочной грыжей, и постоянно боялась, что она может защемиться. А операции я боялась ещё больше. Иногда она болела, и каждый раз, я думала, что всё… Спасибо форуму, почитала про растительные препараты, нашла там Трауфрил. Прошла курс, грыжа больше не побаливает и стала меньше вроде, я больше не боюсь защемления.
			    				</p>
			    				<div class="reviews-button__box">
			    					<span class="reviews-slider__button orange">Читать больше</span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    	<div>
			    		<div class="reviews-slider__item reviews-slider__item3">
			    			<div class="reviews-slider__img">
			    				<img src="./img/reviews-slider3.png" alt="" class="main-img">
			    			</div>
			    			<div class="reviews-slider__content">
			    				<div class="reviews-slider__info">
			    					<span class="reviews-slider__name">Леонид, <span>36 лет</span></span>
			    					<span class="reviews-slider__city">г. Москва</span>
			    				</div>
			    				<h4 class="reviews-slider__title">Грыжа действительно становится меньше</h4>
			    				<p class="reviews-slider__text">Сложно жить мужчине с грыжей. Как ни крути, а часто приходиться поднимать тяжелое - несмотря на то, что при грыже это запрещено. Один раз игрались с пятилетним сыном, 
								я поднял его и почувствовал боль в паху в районе грыжи. Слава богу, это не было защемление, но понервничать пришлось из-за этого конечно. Не хочется так жить, и постоянно бояться, что грыжу может защемить. Когда узнал про <span class="orange">Трауфрил</span> решил попробовать, хуже точно не будет. Почти уже прошел курс. Грыжа - меньше в два раза. Болей нет больше. Хороший препарат, рекомендую.
			    				</p>
			    				<div class="reviews-button__box">
			    					<span class="reviews-slider__button orange">Читать больше</span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
					<div>
			    		<div class="reviews-slider__item reviews-slider__item4">
			    			<div class="reviews-slider__img double-img">
			    				<div class="double-img__item">
			    					<img src="./img/reviews-slider4.1.png" alt="" class="main-img">
			    					<p class="text"><img src="./img/line-minigrey__normal.png" alt="" class="text__img">До</p>
			    				</div>
			    				<div class="double-img__item">
			    					<img src="./img/reviews-slider4.2.png" alt="" class="main-img">
			    					<p class="text"><img src="./img/line-minigrey__normal.png" alt="" class="text__img">После</p>
			    				</div>
			    			</div>
			    			<div class="reviews-slider__content">
			    				<div class="reviews-slider__info">
			    					<span class="reviews-slider__name">Жанна, <span>42 года</span></span>
			    					<span class="reviews-slider__city">г. Владивосток</span>
			    				</div>
			    				<h4 class="reviews-slider__title">Грыжа затянулась в колечко и прошла</h4>
			    				<p class="reviews-slider__text">У сына была пупочная грыжа, думали делать операцию, но решили подождать. Знаете, страшно это, ребёнок он же ещё, всего 11 лет. Я постоянно нервничала, следила, чтобы он случайно что-то тяжелое не поднимал, а он же ребёнок, не понимает, что это серьезные вещи, не следит за этим. То сумки тяжелые возьмет, то с братом гантели потягает-подурачится. Я его ругала, но без толку. Нашла <span class="orange">Трауфрил</span> у знакомой травницы, она посоветовала, сказала, что как раз для пупочной грыжи подойдет. Мазали по два раза в день, и курса оказалось достаточно. Грыжа постепенно затянулась в колечко, и прошла. </p>
			    				<div class="reviews-button__box">
			    					<span class="reviews-slider__button orange">Читать больше</span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    	<div>
			    		<div class="reviews-slider__item reviews-slider__item5">
			    			<div class="reviews-slider__img">
			    				<img src="./img/reviews-slider5.png" alt="" class="main-img">
			    			</div>
			    			<div class="reviews-slider__content">
			    				<div class="reviews-slider__info">
			    					<span class="reviews-slider__name">Раиса, <span>49 лет</span></span>
			    					<span class="reviews-slider__city">г. Псков</span>
			    				</div>
			    				<h4 class="reviews-slider__title">Действительно работают травы, это радует</h4>
			    				<p class="reviews-slider__text">Я врачам не очень доверяю, у них на всё одни методы - операция. Я считаю любые операции противоестественными. Пробовала избавиться от грыжи при помощи велосипеда и разных упражнений, но ничего не помогало. А от велосипеда еще хуже стало, я очень испугалась тогда.. Я начала читать кто чем лечится, какие компоненты помогают. И народную медицину пробовала - травки прикладывала - не помогла. Вот нашла в интернете <span class="orange">Трауфрил</span>, решила заказать, состав очень интересный, и тем более цена такая низкая, можно попробовать. Мазала его 30 дней, как указано в инструкции. Грыжа стала меньше, наверное раза в три где-то, её почти нет. Действительно работают травы, это радует.
			    				</p>
			    				<div class="reviews-button__box">
			    					<span class="reviews-slider__button orange">Читать больше</span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    	<div>
			    		<div class="reviews-slider__item reviews-slider__item6">
			    			<div class="reviews-slider__img double-img">
			    				<div class="double-img__item">
			    					<img src="./img/reviews-slider6.1.png" alt="" class="main-img">
			    					<p class="text"><img src="./img/line-minigrey__normal.png" alt="" class="text__img">До</p>
			    				</div>
			    				<div class="double-img__item">
			    					<img src="./img/reviews-slider6.2.png" alt="" class="main-img">
			    					<p class="text"><img src="./img/line-minigrey__normal.png" alt="" class="text__img">После</p>
			    				</div>
			    			</div>
			    			<div class="reviews-slider__content">
			    				<div class="reviews-slider__info">
			    					<span class="reviews-slider__name">Людмила, <span>54 года</span></span>
			    					<span class="reviews-slider__city">г. Тольятти</span>
			    				</div>
			    				<h4 class="reviews-slider__title">Грыжа вот уже полгода не болит</h4>
			    				<p class="reviews-slider__text">Моя история началась более 10 лет назад с появлением послеоперационной грыжи  живота. И все эти годы я жила в постоянном страхе ущемления и более тяжелых последствий. Грыжа часто болела, иногда так сильно, что тяжело было ходить. Год назад , после долгих мучений, я решилась на операцию. Даже подготовила деньги, чтобы прооперироваться у хорошего хирурга. Но за неделю до операции узнала про <span class="orange">Трауфрил</span>, решила попробовать последнюю, так сказать, надежду. И препарат сработал! Грыжа вот уже полгода как не болит и стала почти незаметной - её размер уменьшился почти в три раза. Теперь думаю повторить курс для закрепления результата.
			    				</p>
			    				<div class="reviews-button__box">
			    					<span class="reviews-slider__button orange">Читать больше</span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    	<div>
			    		<div class="reviews-slider__item reviews-slider__item7">
			    			<div class="reviews-slider__img double-img">
			    				<div class="double-img__item">
			    					<img src="./img/reviews-slider7.1.png" alt="" class="main-img">
			    					<p class="text"><img src="./img/line-minigrey__normal.png" alt="" class="text__img">До</p>
			    				</div>
			    				<div class="double-img__item">
			    					<img src="./img/reviews-slider7.2.png" alt="" class="main-img">
			    					<p class="text"><img src="./img/line-minigrey__normal.png" alt="" class="text__img">После</p>
			    				</div>
			    			</div>
			    			<div class="reviews-slider__content">
			    				<div class="reviews-slider__info">
			    					<span class="reviews-slider__name">Кристина, <span>35 лет</span></span>
			    					<span class="reviews-slider__city">г. СПБ</span>
			    				</div>
			    				<h4 class="reviews-slider__title">Теперь не стесняюсь своего живота</h4>
			    				<p class="reviews-slider__text">Из-за пупочной грыжи мне было неловко показывать его, всегда носила одежду, которая закрывала эту уродливую опухоль. Вырезать, знаете, страшно, конечно, и я долго не решалась, потому что наслушалась историй страшных, какие последствия после операции. Спасибо моему брату, он нашел мне в интернете <span class="orange">Трауфрил</span>. Я мазала этим средством живот, и грыжа по чуть-чуть уменьшалась прямо на глазах. Сейчас спустя месяц её почти не видно, и я теперь не стесняюсь своего живота.
			    				</p>
			    				<div class="reviews-button__box">
			    					<span class="reviews-slider__button orange">Читать больше</span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    	<div>
			    		<div class="reviews-slider__item reviews-slider__item">
			    			<div class="reviews-slider__img">
			    				<img src="./img/reviews-slider8.png" alt="" class="main-img">
			    			</div>
			    			<div class="reviews-slider__content">
			    				<div class="reviews-slider__info">
			    					<span class="reviews-slider__name">Екатерина, <span>29 лет</span></span>
			    					<span class="reviews-slider__city">г. Москва</span>
			    				</div>
			    				<h4 class="reviews-slider__title">Через неделю заметила, как грыжа уменьшается</h4>
			    				<p class="reviews-slider__text">Я особо врачей не слушала, которые меня пугали операцией над грыжей, что её резать, 
									а то защемиться там что-то. Я вообще врачам не очень верю, они вечно любят пугать всех, лишь бы денег содрать. Так я спокойно себе ходила с грыжей где-то месяца три. А потом она начала побаливать, и чем дальше - тем хуже. Я поняла, что надо что-то делать, когда стало, простите, невозможно нормально сексом заниматься, потому что внизу живота было очень неприятно, отдавало куда-то в кишечник. Операцию я делать не хотела, таблетки, которые выписывали, я пить не хотела, поэтому начала искать 
									на форумах, чем ещё можно лечить это. Так я нашла <span class="orange">Трауфрил</span>. Что я вам скажу - это находка! На вторую ночь после того, как начала им пользоваться, прошли неприятные ощущения, через неделю заметила, как грыжа уменьшается. Вот недавно закончила курс, сходила к терапевту своему, он не может поверить, как это я так быстро вылечилась.
			    				</p>
			    				<div class="reviews-button__box">
			    					<span class="reviews-slider__button orange">Читать больше</span>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    </div>
			    <div class="for-reviews-slick__next"></div>
			    <div class="reviews-slick__next"></div>
			</div>
	  	</div>
	</div>
</section>
