<section class="section section-grey use">
    <div class="wrapper">
        <div class="use-box">
            <div class="use-left">
                <div class="section__title">
                    <h2>Как применять <br> <span class="orange">Трауфрил</span></h2>
                    <div class="title__img">
                        <img src="./img/line-orange.png" alt="">
                    </div>
                </div>
                <div class="use-rules">
                    <img src="img/use-rules__img.svg" alt="image" class="use-rules__img">
                    <div class="use-rules__text">
                        Взрослым и детям от 12 лет
                        <span class="use-rules__smaller">рекомендуемый курс — от 30 дней</span>
                    </div>
                    <div class="use-rules__text">
                        Детям с 6 до 12 лет
                        <span class="use-rules__smaller">рекомендуемый курс — от 20 дней</span>
                    </div>
                </div>
                <div class="use-left__img">
                    <img src="img/product.png" alt="" class="use-product">
                    <img src="img/capsule.png" alt="" class="use-capsule">
                    <img src="img/line-white.png" alt="" class="line-white">
                </div>
            </div>
            <div class="use-right">
                <div class="use-list">
                    <div class="use-list__item">
                        <h4 class="use-list__title">1</h4>
                        <div class="use-box__plan">
                            <div class="use-plan">
                                <div class="use-plan__left">
                                    <img src="img/use-plan1.svg" alt="">
                                </div>
                                <div class="use-plan__right">
                                    <p>Вскройте ампулу</p>
                                </div>
                            </div>
                            <div class="use-plan">
                                <div class="use-plan__left">
                                    <img src="img/use-plan2.svg" alt="">
                                </div>
                                <div class="use-plan__right">
                                    <p>Нанесите содержимое<br> на проблемные области<br> выпирания грыжи</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="use-list__item">
                        <h4 class="use-list__title">2</h4>
                        <div class="use-plan">
                            <div class="use-plan__left">
                                <img src="img/use-plan3.svg" alt="">
                            </div>
                            <div class="use-plan__right">
                                <p>Используйте<br> ампулу полностью<br> после вскрытия</p>
                            </div>
                        </div>
                    </div>
                    <div class="use-list__item">
                        <h4 class="use-list__title">3</h4>
                        <div class="use-plan">
                            <div class="use-plan__left">
                                <img src="img/use-plan4.svg" alt="">
                            </div>
                            <div class="use-plan__right">
                                <p>Применяйте<br> по 1 ампуле<br> утром и вечером</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>